.env
.env.*
*.log
*.sql
*.gz
.vscode/
Thumbs.db
Desktop.ini
backup/tmp/
backup/cache/
docker/**/data/
docker/**/config/
docker/**/db/
*.pem
*.key

# Local runtime / server data
backup/
docker-data/
data/
